/* Cabeçalho */
.cart-header {
    position: relative;
    background-color: #f5f5f7;
    padding: 10px;
    z-index: 1000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 40px;
}

/* Navegação */
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #fbf7f7;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4f9cf9;
}

/* Dropdown */
nav ul .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.088);
    border-radius: 15px;
    padding: 10px 0;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 20px rgba(120, 120, 120, 0.347);
    border: 2px solid rgba(255, 255, 255, 0.2);
    width: 180px;
    text-align: center; /* Centraliza o texto no dropdown */
}

nav ul li:hover .dropdown {
    display: block;
    opacity: 1;
    transform: translate(-50%, 0); /* Mantém a posição centralizada do dropdown */
}

nav .dropdown li {
    padding: 10px 0;
}

nav .dropdown li a {
    color: #ffffff;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav .dropdown li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #4f9cf9;
}

/* Item ativo do menu */
nav ul li a.active {
    color: #4f9cf9;
}

/* Estilo do vídeo de fundo */
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Estilo do cabeçalho */
header {
    position: relative;
    color: #1d1d1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    height: 51vh;
    z-index: 1000;
}

header .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
